---
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";

import Features2 from "~/components/widgets/Features2.astro";
import Features3 from "~/components/widgets/Features3.astro";
import FAQs from "~/components/widgets/FAQs.astro";

// import { YouTube } from 'astro-embed';

const metadata = {
  title: "Автобот. Продажа автомобилей в Москве",
};

const mainPageImage = "~/assets/images/mainPageImage.jpg";
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: mainPageImage,
      alt: "Click-through Landing Page Hero Image",
    }}
    tagline="Автомобили под заказ"
    actions={[
      {
        variant: "primary",
        target: "_blank",
        text: "Свяжитесь с нами",
        href: "https://t.me/autobot_moscow",
        icon: "tabler:brand-telegram",
      },
      { text: "Узнать стоимость", href: "https://t.me/autobot_moscow" },
    ]}
  >
    <Fragment slot="title">
      Доставка автомобилей из Китая и других стран<span class="hidden sm:inline"
      ></span><span class="text-accent dark:text-white highlight"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Мы поможем вам <span class="font-semibold">подобрать и доставить</span>
      автомобиль вашей мечты из любой точки мира. Надежно, быстро и по выгодной цене.
    </Fragment>
  </Hero>

  <Features2
    title="Ваш идеальный автомобиль – без границ"
    subtitle="Вы выбираете – мы доставляем, обеспечивая полное сопровождение на каждом этапе."
    items={[
      {
        title: "Гарантия надежности",
        description:
          "Мы работаем только с официальными партнерами, гарантируя безопасность сделки и качество каждого автомобиля.",
        icon: "tabler:shield-check",
      },
      {
        title: "Поддержка на всех этапах",
        description:
          "От выбора автомобиля до его доставки и оформления – мы сопровождаем вас на каждом шаге, чтобы сделать процесс максимально простым.",
        icon: "tabler:yin-yang",
      },
      {
        title: "Прозрачные цены",
        description:
          "Полная стоимость автомобиля известна заранее – без скрытых платежей или комиссий. Вы платите только за результат.",
        icon: "tabler:search",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Часто задаваемые вопросы"
    items={[
      {
        title: "Как долго длится доставка автомобиля?",
        description:
          "Срок доставки зависит от страны отправления, в среднем занимает от 4 до 8 недель. Если выбранной комплектации нет в наличии.",
      },
      {
        title: "Могу ли я заказать автомобиль любой марки?",
        description:
          "Да, мы доставляем автомобили всех марок и моделей, независимо от страны производителя.",
      },
      {
        title: "Какие гарантии вы предоставляете?",
        description:
          "Мы гарантируем качество автомобиля, его соответствие заказу и полную юридическую чистоту.",
      },
      {
        title: "Какие дополнительные расходы могут возникнуть?",
        description:
          "Все расходы обсуждаются заранее – никаких скрытых платежей. Возможны только обязательные пошлины и налоги.",
      },
      {
        title: "Как происходит оплата?",
        description:
          "Оплата осуществляется в несколько этапов: предоплата за заказ автомобиля и финальная оплата после его доставки.",
      },
      {
        title: "Вы помогаете с оформлением документов?",
        description:
          "Да, мы берем на себя все вопросы по оформлению документов и регистраций для вашего удобства.",
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Свяжитесь с нами"
    subtitle="Мы готовы помочь и ответить на любые ваши вопросы."
    columns={4}
    items={[
      {
        title: "Телефон",
        icon: "tabler:phone",
        callToAction: {
          target: "_blank",
          text: "Позвоните нам",
          href: "tel:+7 (994) 4445445",
          variant: "link",
        },
      },
      {
        title: "Электронная почта",
        icon: "tabler:mail",
        callToAction: {
          target: "_blank",
          text: "Напишите нам",
          href: "mailto:sale@autobot.moscow",
          variant: "link",
        },
      },
      {
        title: "Чат с отделом продаж",
        icon: "tabler:message-circle",
        callToAction: {
          target: "_blank",
          text: "Начать чат",
          href: "https://t.me/autobot_moscow",
          variant: "link",
        },
      },
      {
        title: "Чат с поддержкой",
        icon: "tabler:message-circle",
        callToAction: {
          target: "_blank",
          text: "Начать чат",
          href: "https://t.me/autobot_moscow",
          variant: "link",
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: "primary",
        target: "_blank",
        text: "Получить предложение",
        icon: "tabler:mail-fast",
      },
    ]}
  >
    <Fragment slot="title">Узнайте точную стоимость</Fragment>

    <Fragment slot="subtitle">
      Оставьте заявку, и мы свяжемся с вами в течение 15 минут, чтобы обсудить
      детали и предложить лучшие условия доставки автомобиля вашей мечты.
    </Fragment>
  </CallToAction>
</Layout>
